code/Unit1/CustomConfig/etc/custom_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config" type="configType">
    <xs:annotation>
      <xs:documentation>/**
 * ACL. Can be queried for relations between roles and resources.
 *
 * Copyright © 2019 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="welcome_messageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="store_id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="configType">
    <xs:sequence>
      <xs:element type="welcome_messageType" name="welcome_message" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>